<div class="container">
    <div class="content">
        <img src="../../assets/img/fundo_netflix.PNG" alt="main">
    </div>
</div>
<br><br>
<div class="content-card">
    <div class="p-grid">
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
        <div class="p-col">
            <p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/fundo_netflix.PNG">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            </p-card>
        </div>
    </div>
</div>